
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Blog System</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css"
          integrity="sha384-VCmXjywReHh4PwowAiWNagnWcLhlEJLA5buUprzK8rxFgeH0kww/aWY76TfkUoSX" crossorigin="anonymous">



    <!-- Custom styles for this template -->
    <link href="/static/css/cover.css" rel="stylesheet">
  </head>
  <body class="text-center">
  {% load bootstrap4 %}
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="masthead mb-auto">
    <div class="inner">
      <h3 class="masthead-brand"><a href="/">Song Blog</a></h3>

      <div align="right">
        <a href="/users/login/">Login</a>&nbsp;&nbsp;<a href="/users/join/">join</a>
      </div>

    </div>
  </header>

  <main role="main" class="inner cover">
    <h1 class="cover-heading">Welcome</h1>
    <p class="lead">Please join</p>
    <p class="lead">
      <form method="post">
            {% csrf_token %}
            {% bootstrap_form user_form %}
            <button class='btn btn-primary' type="submit">join</button>
      </form>
    </p>
  </main>

  <footer class="mastfoot mt-auto">
    <div class="inner">
      <p>Cover template for <a href="https://getbootstrap.com/">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>
    </div>
  </footer>
</div>
</body>
</html>
